<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <!--Bootstrap CSS-->
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!--Main CSS-->
    <link th:href="@{/css/main-styles.css}" rel="stylesheet">
     <!-- Tinymce -->
    <script th:src="@{/js/tinymce/tinymce.min.js}"></script>
   <!-- Custom styles for this template HERE -->
    <script type="text/javascript">
    	tinymce.init({selector:'#desc-textid'})
    </script>
    <title th:text="${tituloPagina}"></title>
</head>
<body>
<!-- header fragment -->
<header th:insert="~{fragments/navbar.html :: navbar-principal}"></header>

<div class="container">
<h1>Add new task</h1>
<div class="form-container">
	<form th:action="@{/update/task}" method="post">
	<div class="mb-3">
		<label for="taskname-id" class="form-label">Task name</label>
		<input type="text" class="form-control" id="taskname-id" name="taskName" th:value="${taskToBeUpdated.taskName}" required>
		<input type="hidden" th:value="${taskToBeUpdated.idTask}" name="idTask" disabled>
		<!--  
		this prop goes in the input where you want the text aria-describedby="taskname-desc"
		<div id="taskname-desc" class="form-text">Put the name of your task</div>
		-->
	</div>
	<div class="form-floating">
		<label for="desc-textid">Task description</label>
		<textarea class="form-control" th:text="${taskToBeUpdated.taskDescription}" id="desc-textid" name="taskDescription"></textarea>
	</div>
	<div class="mb-3">
		<label for="select-priority">Priority</label>
		<br>
		<select class="form-select"  th:field="*{taskToBeUpdated.priority}" id="select-priority" name="priority" size="4">
			<option th:value="'UI'" th:text="${'Urgent, Important'}"></option>
			<option th:value="'NUI'" th:text="${'Not Urgent, Important'}"></option>
			<option th:value="'UNI'" th:text="${'Urgent, Not Important'}"></option>
			<option th:value="'NUNI'" th:text="${'Not Urgent, Not Important'}"></option>
 		</select>
	</div>
	<div>
		<label for="select-taskDone">Task status</label>
		<br>
		<select class="form-select" id="select-taskDone" name="taskDone" disabled>
  			<option selected value="false">False</option>
		  	<option value="true">True</option>
		</select>
	</div>
	<div class="action-buttons">
	<button type="submit" class="btn btn-warning">Update</button>
	<a href="#" class="btn btn-danger"><i>Cancel</i></a>
	</div>
	
	</form>
</div>
</div>

<!-- footer fragment -->
<footer th:insert="~{fragments/footer.html :: footer-principal}" class="footer"></footer>
<!-- Bootstrap JavaScript -->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- popper.js cdn -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>