<!-- navbar -->
<nav th:fragment="navbar-principal">
    <div class="sidebar-top">
            <span class="shrink-btn">
        <i class='bx bx-chevron-left'></i>
      </span>
        <img th:src="@{/images/faang-logo/java.png}" class="logo" alt="">
        <h3 class="hide"><a class="nav-link active" th:href="@{/}">LR21</a></h3>
    </div>

   <!-- <div class="search">
        <i class='bx bx-search'></i>
        <input type="text" class="hide" placeholder="Quick Search ...">
    </div>-->

    <div class="sidebar-links">
        <h4 class="hide">Shortcuts</h4>

        <ul>
            <li class="tooltip-element" data-tooltip="0">
                <a th:href="@{/}" data-active="5">
                    <div class="icon">
                        <i class='bx bx-list-ol'></i>
                        <i class='bx bxs-list-ol'></i>
                    </div>
                    <span class="link hide">Task list</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
                <a th:href="@{/createnew}" data-active="4">
                    <div class="icon">
                        <i class='bx bx-list-plus'></i>
                        <i class='bx bxs-list-plus'></i>
                    </div>
                    <span class="link hide">Add tasks</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
                <a th:href="@{/matrix/list-items}" data-active="6">
                    <div class="icon">
                        <i class='bx bx-bar-chart-alt-2'></i>
                        <i class='bx bxs-bar-chart-alt-2'></i>
                    </div>
                    <span class="link hide">Graph</span>
                </a>
            </li>
            <div class="tooltip">
                <span class="show">Tasks</span>
                <span>Help</span>
                <span>Settings</span>
            </div>
        </ul>
    </div>

</nav>