/*Borrar estilos por defecto del navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: red dashed 1px;*/
}

/* body{
	border: 10px solid red;
}
 */
.nav{
	background-color:#563D7C;
}

footer{
    background-color:#563D7C;
    text-align:center;
    position:fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
}