/*Borrar estilos por defecto del navegador*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body{
	border: 10px solid red;
}
 */
.nav{
	background-color:#563D7C;
}

.footer{
    background-color:#563D7C;
    text-align:center;
    /*position:absolute;*/
    bottom: 0px;
    width: 100%;
    height: 60px;
}