<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <!--Bootstrap CSS-->
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d0e698f781.js" crossorigin="anonymous"></script>
    <!--Main CSS-->
    <link th:href="@{/css/main-styles.css}" rel="stylesheet">
	<!-- new navbar-->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link th:href="@{/css/dashboard-css.css}" rel="stylesheet">

    <!-- Custom styles for this template HERE -->
    <title th:text="${thePageTitle}"></title>
</head>
<body>
<!-- header fragment
Note: this is the new syntax for fragments ~{template :: fragment}-->
<header th:insert="~{fragments/navbar.html :: navbar-principal}"></header>

<div class="container">
<h1>Eisenhower matrix</h1>
<p>
	The Eisenhower matrix is a simple method to classify or categorize tasks.
	This method will help us let go of the feeling that every activity is urgent and necessary.
	This matrix consists of a cartesian map in which each quadrant is assigned a level of importance and urgency.
	If you want to know more about the Eisenhower matrix and how this tool works,
	read the complete article here. <a href="#">read more...</a>
</p>

<div class="card w-75 bg-secondary text-white">
	<div class="card-header">
	<h2>Activity Check List</h2>
	<a th:href="@{/createnew}" class="btn btn-success"><i class="fa-solid fa-file-lines"></i> New task</a>
	<a th:href="@{/matrix/list-items}" class="btn btn-primary"><i class="far fa-chart-bar"></i> Graph tasks</a>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
				<th>Id</th>
				<th>Task</th>
				<th>Priority</th>
				<th>Actions</th>
				</tr>
			</thead>
		<tbody>
			<tr th:each="tempTaskList:${taskList}" th:if="${tempTaskList.taskDone == false}">
				<td th:text="${tempTaskList.idTask}"></td>
				<td th:text="${tempTaskList.taskName}"></td>
				<td th:text="${tempTaskList.priority}"></td>
				<td>
				<!-- this button will trigger the modal -->
				<button type="button" class="btn btn-info" data-bs-toggle="modal" th:attr="data-bs-target=${'#viewTask-modal'+tempTaskList.idTask}"><i class="fa-solid fa-eye"></i> View</button>
				<a th:href="@{/update/{id} (id=${tempTaskList.idTask})}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Update</a>
				<a th:href="@{/task/finished/{id} (id=${tempTaskList.idTask})}" class="btn btn-success"><i class="fa-solid fa-check"></i> Finished</a>
				<a th:href="@{/task/delete/{id} (id=${tempTaskList.idTask})}" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
</div>

<!-- here starts the modal -->
<div th:each="modalTask:${taskList}" th:attr="id=${'viewTask-modal'+modalTask.idTask}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 th:text="${modalTask.taskName}" class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<article th:utext="${modalTask.taskDescription}"></article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- here ends the modal -->
<!-- footer fragment -->
<footer th:insert="~{fragments/footer.html :: footer-principal}" class="footer"></footer>
<!-- Bootstrap JavaScript -->
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- new navbar js-->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>