<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <!--Bootstrap CSS-->
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!--Main CSS-->
    <link th:href="@{/css/main-styles.css}" rel="stylesheet">
    
    <!-- Custom styles for this template HERE -->
    <title th:text="${tituloPagina}"></title>
</head>
<body>
<!-- header fragment -->
<header th:insert="fragments/navbar.html :: navbar-principal"></header>

Hola Mundo,esta en una plantilla general






<!-- footer fragment -->
<footer th:insert="fragments/footer.html :: footer-principal" class="footer"></footer>
<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>